---
import Layout from '../layouts/Layout.astro'
import { SITE_TITLE } from '../consts';
---

<Layout title=`Welcome to ${SITE_TITLE}` description="Lorem ipsum dolor sit amet">
  <p>
    Welcome to JoCode! My tiny little corner of the internet where you can get handcrafted free HTML templates!
  </p>

  <p>
    Designed and developed with performance, valid code and the user in mind.
  </p>
</Layout>
