<h3>
  Privacy Policy
</h3>
<p>
  Your privacy is important to me. It is my policy to respect your privacy regarding any information I may collect from you across my website, templatedeck.com, and other sites I own and operate.
</p>

<h3>
  Information this site collect
</h3>
<p>
  This website only collect information about you if I have a reason to do so – for example, to provide my Services, to communicate with you, or to make my Services better.

  I collect this information from only one source: If you add/enter informations on my website or corresponding services.
</p>

<h3>
  Use of Your Information
</h3>
<p>
  I use your given information only to:

  <ul>
    <li>

      Provide and maintain my Services
    </li>
    <li>
      Improve, personalize, and expand my Services

    </li>
    <li>

      Communicate with you
    </li>
    <li>

      Send you marketing communications
    </li>
    <li>

      Find and prevent fraud
    </li>
  </ul>
</p>

<h3>
  Sharing Your Information
</h3>
<p>
  I do not share your personal information except as provided in this Privacy Policy or as necessary to provide my Services.
</p>

<h3>
  Security
</h3>
<p>
  I take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.
</p>

<h3>
  Changes to This Privacy Policy
</h3>
<p>
  I may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
</p>

<h3>
  Contact Me
</h3>
<p>
  If you have any questions about this Privacy Policy, please contact me via jo@da.md.
</p>
